body {
  margin: 0;
  background: #fad873; /* #fad873 - orange, #111 - black */
  color: #fff; 
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#counter {
  font-size: 5rem;
}
